
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

@import url('reset.css');

@import url('typography.css');
@import url('icon-links.css');
@import url('navigation.css');
@import url('elements.css');


@media screen and (min-width: 600px) {
	body{
		font-size:14px;
	}
} 
@media screen and (min-width: 800px){
    body{
	    font-size:16px;
    }
} 
    /*@media screen and (min-width: 1300px){
        body{
            font-size:21px;
        }
    } 
    */
/*
    @media screen and (min-width: 1800px){
        body{
            font-size:23px;
        }
    }
*/
p{
    margin:0;
    padding:0;
}

body{margin:0; padding:0;}
header .info {
    background:rgb(99, 99, 99);
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:#FFF;
    padding:0 1rem;
    height:5vh;
}

header .fas,
header span {
    display:inline-block;
}


/* Site name section */

header .appear {
    background: rgb(255,255,255);
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}

header .appear  a{
    text-decoration: none;
}

@media screen and (max-width:680px) {
 
    header .appear {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-wrap:wrap;
    }


}


@media screen and (max-width:390px) {
 
    header .appear .site-branding {
        text-align:center;
    }
    
}


header .appear {
    padding:4rem  3.5rem;
}

header .appear a {
    color:#000;
    padding:0;
    margin:0;
}
header .appear .site-title {
    font-size:3rem;
    color: #000;
}
header .appear .site-branding i {
    font-size:3rem;
    margin-right:1rem;
}

header .appear .site-descrp {
    display:block;
    margin:0;
    padding:0;
    text-align:right;
    letter-spacing: 2px;
}



/* Banner section */

section.banner{ 
    overflow: hidden;
    position: relative;
    border-bottom:0.6rem solid rgb(134, 31, 31);
    box-shadow: 2px 10px 30px -10px rgba(0,0,0,0.59);
    
}

section.banner:after{ 
    display: block;
    content:'';
    padding-top: 25%;

} 
@media screen and (max-width:400px) {
    section.banner:after{ 
        padding-top: 40%;
    
    }
}
section.banner img {
    display: block;
    position: absolute;
    top:50%;  left:0;
    transform:translateY(-50%);
    height: auto;
    width: 100%;
    
}

section.banner .banner-header {
    color:rgb(255, 255, 255);
    position:absolute;
    top:33%;
    left:7%;
    text-shadow: 2px 2px 20px rgb(0 , 0 ,0 , 1);
    font-style:italic;
    font-family:"Cardo";
    font-size:3rem;

}



@media screen and (max-width:1000px){
    section.banner .banner-header {
        font-size:2.4rem;
    }
}

@media screen and (max-width:800px){
    section.banner .banner-header {
        font-size:1.8rem;
    }
}


@media screen and (max-width:600px){
    section.banner .banner-header {
        font-size:1.5rem;
    }
}


@media screen and (max-width:500px){
    section.banner .banner-header {
        font-size:1rem;
    }
}


section.banner span  {
    display: block;
}



/* ABOUT PAGE */


section.about {
    
    background: rgb(65, 69, 86, 0.2);
}

section.about .info{
    padding:5rem;
  
   flex-basis:50%;
    border-right:1px solid #333;
}

section.about .gallery {
  flex-basis:50%;
    padding:1rem;
    justify-content: center;
    align-items: center;
   
}
section.about h2 {
    text-align:center;
    padding-top:2rem;
}

section.about p {
    margin-top:1rem;
}

section.about blockquote p {
    margin:0.3rem;
}

section.about header:after {
    display: block;
    margin:1rem auto 2rem auto;
    width:5rem;
    height:0.15rem;
    content:'';
    background: #333;;
}
section.about ul {
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    
}

section.about li {
    list-style-type:none;
    flex:0 0 35%;
    text-align:center;
    margin:1rem;
    border:1px solid black;
    padding:0.5rem;
    height:50%;
    
}

section.about img {
    max-width:90%;
}

@media screen and (min-width:600px){
    section.about .wrapper{
        display:flex;
        justify-content: center;
    }

    section.about li {
        flex:0 0 45%;
    }
}

/* MENU Page */

section.menu {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:5rem;
}

section.menu article {
    margin:2rem 3rem;
    box-shadow:0 0 1rem 0.1rem rgb(0, 0 ,0 , 0.5 );
    border-radius:0.4rem;
    background:rgb(201, 199, 199,0.5); text-align:center;
    padding:3rem 1rem 3rem 1rem;

}

section.menu article a{
    
    text-decoration:none;
    margin-top:2rem;
    color: black;
}
@media screen and (max-width:1200px){
section.menu img {
    width:70%;
}

@media screen and (max-width:500px){
    section.menu {
        display:block;
    }