<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mr.Cook - Welcome</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
</head>
<body>
    <div class="site">
        <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle">
        <header class="site-header">
            <section class="info">

                    <span>
                        <i class="fas fa-phone"></i>
                        <span>088 351 2773</span>
                    </span>

                    <span>
                        <i class="fas fa-map-marker-alt"></i>
                        <span>Sofia , Studentski grad</span>
                    </span>
            </section>

            <section class="appear">
                <div class="site-branding">
                    <a href="{{site.baseurl}}/">
                        <i class="fas fa-cookie-bite"></i>
                        <p class="site-title">Mr.Cook</p>
                        <p class="site-descrp">Cook like a pro!</p>
                    </a>
                </div>
                <section class="social-links">
                    <article class="social"><a href="https://www.facebook.com/profile.php?id=100000947101585"><i class="fab fa-facebook-f"></i></a></article>
                    <article class="social"><a href="https://www.instagram.com/tonkata2/"><i class="fab fa-instagram"></i></a></article>
                    <article class="social"><a href="#"><i class="fab fa-twitter"></i></a></article>
                    <article class="social"><a href="#"><i class="fas fa-envelope"></i></a></article>
                </section>
            </section>


            <section class="navigation">

                <label for="main-nav-toggle" id="toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                        Menu</label>
                <nav class="main">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Sample Page</a></li>
                        <li>
                            <a href="">
                                Sidebar Layouts 
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            
                            <ul>
                                <li>More</li>
                                <li>More</li>
                            </ul>
                        </li>
                        <li><a href="">Shop</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>

                    <i class="fas fa-search"></i>
                </nav>
        
                
            </section>
        </header>

        {{ content }}

</body>
</html>